*{
    margin: 0;

}

body{
    margin: auto;
}

.texto-aclaracion{
    font-size: 10px;
}

.anio{
    font-size: 15px;
}

#resultados{
    border: 2px solid #33d298;
    padding: 1rem;
}


/* PANTALLA XS */
@media (max-width: 575.98px) {
    #resultados{
        width: 80%;
    }
  }

  /* PANTALLA S */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .section-mobile{
        position: relative;
        left: -45px;
    }

    .container-mobile{
        margin: 0;  
    }

    .form-mobile{
        font-size: 11px;
        margin-top: 25px;
    }

    .div-chart-mobile{
        width: 150%;
    }
  }

  /* PANTALLA M */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .div-form{
        margin: 0;
        margin-right: 0 !important;
    }

    .container-chart{
        margin: 0;
    }

    .div-container{
        display: flex;
        justify-content: flex-start !important;
    }

    .div-chart{
        padding-top: 10%;
        width: 120%;
        height: 45.5vh !important;
    }

    .texto-aclaracion{
        margin-top: 20px;
        font-size: 12px;
    }

  }

  /* PANTALLA L */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .texto-aclaracion{
         margin-top: 20px; 
        font-size: 11px;
    }

    .div-form{
        margin: 0;
    }
    .div-form label{
        font-size: 12.5px !important;
        margin-top: 10% !important
    }

    .container-chart{
        margin: 0 !important;
    }

    #resultados{
        width: 70%;
    }
  }

  /* PANTALLA XL */
  @media (min-width: 1199.99px) {
    .texto-aclaracion{
        margin-top: 3% !important; 
       font-size: 13px;
   }

    .div-form{
    margin: 0;
    margin-top: 2rem;
    }

    .div-form label :first-child{
        margin-top: 10% !important;
    }

    .div-form label{
        font-size: 14px !important;   
    }
    .div-form input {
        margin-bottom: 1rem !important;
    }

    .div-form select{
        margin-bottom: 1rem !important;
    }
    

    .container-chart{
        margin: 0 !important;
    }

    #resultados{
        width: 66%;
    }

  }
