*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myChart{
    width: 100% !important;
    height: 50% !important;
}

.btn-submit{
    background-color: #33d298;
    
}
.btn-submit a{
    color: white;
    text-decoration: none;

}


.ahorro{
    padding-bottom: 1rem !important;
}

.titulo-ahorro{
    font-size: 2rem !important;
}

body{
    margin: auto;
}

.texto-aclaracion{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif !important;
}

.anio{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
}

#resultados{
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

.div-form{
    font-family: 'Montserrat', sans-serif;
}

.div-form label{
    font-weight: bold;
}

.form-mobile{
    font-family: 'Montserrat', sans-serif;
}

.form-mobile label{
    font-weight: bold;
}


/* ********** MEDIAQUERIES ********** */


/* PANTALLA XS */
@media (max-width: 575.98px) {

    .texto-aclaracion{
        font-size: 12px;
    }
    .titulo-ahorro{
        font-weight: bolder;
        font-size: 1.7rem !important;
        margin-bottom: .5rem
    }
    .container-ahorro{
        font-size: 1.3rem !important;
    }
  }

  /* PANTALLA S */
  @media (min-width: 576px) and (max-width: 767.98px) {

    .form-label{
        font-size: .65rem;
    }

    form input {
        font-size: .8rem !important 
    }

    form select{
        font-size: .8rem !important
    }

    .titulo-ahorro{
        font-weight: bolder;
        font-size: 1.12rem !important;
        margin-bottom: .5rem
    }

    .container-ahorro{
        font-size: .85rem !important ;
    }
  }

  /* PANTALLA M */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .div-form{
         margin-left: 3%;
         margin-right: 0 ;
         padding-right: 0 ;
    }

    .div-form label{
        font-size: .8rem;
    }

    .container-chart{
        margin-right: 30px;
    }

    .div-container{
        display: flex;
        justify-content: flex-start !important;
        margin-right: 20px;
        margin-left: 0 !important;
    }

    .div-chart{
        padding-top: 6%;
        width: 120%;
        height: 43.5vh !important;
        
    }

    .texto-aclaracion{
        margin-top: 20px;
        font-size: 12px;
    }

    .titulo-ahorro{
        font-size: 1.5rem !important;
        font-weight: bolder;
        margin-bottom: .5rem ;
    }

  }

  /* PANTALLA L */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .texto-aclaracion{
        margin-top: 20px; 
        font-size: 10px;
    }

    .div-form{
        margin: 0;
    }
    .div-form label{
        font-size: 12px !important;
        margin-top: 10% !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        
    }

    .div-form input, select {
        font-family: 'Montserrat', sans-serif;
        font-size: .8rem;
    }

    .div-form select{
        font-size: .8rem;
    }

    .container-chart{
        margin: 0 !important;
    }

    #resultados{
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0 !important;
    }
    .titulo-ahorro{
        font-weight: bolder;
        font-size: 1.7rem !important; 
    }
  }


  /* PANTALLA XL */
  @media (min-width: 1199.99px) {
    .texto-aclaracion{
        margin-top: 3% !important; 
       font-size: 10px;
   }

    .div-form{
    margin: 0;
    }

    .div-form label :first-child{
        margin-top: 10% !important;
        font-family: 'Montserrat', sans-serif !important;
        
    }

    .div-form label{
        font-size: .925rem !important; 
        font-family: 'Montserrat', sans-serif !important;  
        font-weight: bold;
    }
    .div-form input {
        margin-bottom: 1rem !important;
        font-family: 'Montserrat', sans-serif !important;
    }

    .div-form select{
        margin-bottom: 1rem !important;
        font-family: 'Montserrat', sans-serif !important;
    }
    

    .container-chart{
        margin: 0 !important;
    }

    #resultados{
        font-family: 'Montserrat', sans-serif;
    }
    .titulo-ahorro{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        margin-bottom: 7px;
    }

    .container-ahorro{
        font-size: 1.5rem !important;
        line-height: 1.7;
    }

  }
